.categoryDescription{
    font-size: 18px;
    text-align: justify;
    padding: 10px;
}

.productContainer{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    gap: 30px;
}

.product{
    border-bottom: 1px solid var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.returnbutton a{
    margin-top: 20px;
    font-size: large;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.returnbutton svg{
    font-size: 35px;
    margin: 0;
    padding: 0;
    
}   